@page "/about"
<div class="container">
    <h1 class="text-center">CryptoShark team</h1>
</div>
<hr />

<div class="container">
    <div class="row align-items-center gx-5">
        <div class="col text-center m-2 p-2">
            <img src="/images/piotr.jpg" class="rounded-circle img-fluid" alt="piotr" />
            <h2 class="m-2 p-2"><u>Piotr Kiedrowski</u></h2>
            <h4><em>Fronted Developer</em></h4>
            <p>czub</p>
        </div>
        <div class="col text-center m-2 p-2">
            <img src="/images/domi.jpg" class="rounded-circle img-fluid" alt="domi" />
            <h2 class="m-2 p-2"><u>Dominika Drela</u></h2>
            <h4><em>Tester</em></h4>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col text-center m-2 p-2">
            <img src="/images/maciek2.jpg" class="rounded-circle img-fluid" alt="maciek" />
            <h2 class="m-2 p-2"><u>Maciej Winnik</u></h2>
            <h4><em>Backend Developer</em></h4>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
</div>

<style>
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

</style>


@code {

}
