@page "/about"
<div class="container">
    <h1 class="text-center" id="title">CryptoShark Team</h1>
</div>
<hr />

<div class="container">
    <div class="row align-items-center gx-5">
        <div class="col text-center m-2 p-2">
            <img src="/images/piotr.jpg" class="rounded-circle img-fluid" id="piotr" alt="piotr" />
            <div class="right">
                <h2 class="m-2 p-2"><u><a href="https://github.com/KiedrowskiPio">Piotr Kiedrowski</a></u></h2>
                <h4><em>Fronted Developer</em></h4>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>            
        </div>
        <div class="col text-center m-2 p-2">
            <img src="/images/domi.jpg" class="rounded-circle img-fluid" id="domi" alt="domi" />
            <div class="middle">
                <h2 class="m-2 p-2"><u><a href="https://github.com/DrelaDominika">Dominika Drela</a></u></h2>
                <h4><em>Tester</em></h4>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>           
        </div>
        <div class="col text-center m-2 p-2">
            <img src="/images/maciek2.jpg" class="rounded-circle img-fluid" id="maciek" alt="maciek" />
            <div class="left">
                <h2 class="m-2 p-2"><u><a href="https://github.com/MaciekWin3">Maciej Winnik</a></u></h2>
                <h4><em>Backend Developer</em></h4>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>           
        </div>
    </div>
</div>

<style>
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    #domi{
        animation-name: slide;
        animation-duration: 2s;
    }
    #piotr {
        animation-name: slide;
        animation-duration: 3s;
    }
    #maciek {
        animation-name: slide;
        animation-duration: 3s;
    }

    .left {
        animation-name: lewo;
        animation-duration: 2s;
    }

    .middle {
        animation-name: srodek;
        animation-duration: 2s;
    }

    .right {
        animation-name: prawo;
        animation-duration: 2s;
    }

    #title {
        animation-name: tytul;
        animation-duration: 1s;
    }



    @@keyframes slide{
        from {transform: translateY(-300px)}
        to {transform: translateY(0)}
    }

    @@keyframes lewo {
        from {transform: translateX(-300px)}
        to {transform: translateX(0)}
    }

    @@keyframes srodek {
        from {transform: translateY(300px)}
        to {transform: translateY(0)}
    }

    @@keyframes prawo {
        from {transform: translateX(300px)}
        to {transform: translateX(0)}
    }

    @@keyframes tytul{
         from {transform: translateX(-300px)}
        to {transform: translateX(0)}
    }

</style>


@code {

}
